.h1 {
  margin-left: 10px;
}
div {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Heebo', sans-serif;
  background-color: #f0f2f5;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

.logo {
  width: 120px;
  margin: 20px auto;
  display: block;
}

h1 {
  font-size: 2.5rem;
  color: #333;
  margin: 10px 0;
}

h1 span {
  color: #d32f2f; /* אדום */
}

.description {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 30px;
}

.news-title {
  font-size: 1.8rem;
  color: #1d1d1d;
  margin-bottom: 30px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background-color: #ffffff;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.card p {
  font-size: 1rem;
  color: #555;
  margin: 5px 0;
}

.card .result {
  margin-top: 10px;
  font-weight: bold;
  color: #d32f2f; /* צבע תוצאה */
}
