* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, rgba(223, 224, 224, 0.53), rgba(0, 122, 204, 0.32)),
              url('./background.png') no-repeat center center / cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(8px);
  
  color: #fff;
  text-align: center;
  overflow: hidden;
}

.background-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  animation: start 0.5s ease-in-out forwards;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(12px);
    z-index: 1000;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  }
  
  .logo {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
  }
  
  .logo span {
    color: #ff4c4c;
  }
  
  .logo:hover {
    animation: logoHover 0.5s ease-in-out;
  }
  
  @keyframes logoHover {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }
  .navbar a {
    text-decoration: none;
  }
  
  .nav-links {
    display: flex;
    gap: 30px;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px; /* מוגדל מ-16px */
    transition: color 0.3s ease;
    font-weight: 500;
  }
  
  .nav-links a:hover {
    color: #b3ddf0;
  }